
/* Responsive */

/* PC */
@media (min-width: 64em) {
    #header .mobile-menu {
        display: none !important;
    }
    .mobile-merch {
        display : none !important;
    }
}


/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #content .about-text {
        padding-left : 0  !important;
        padding-right : 0 !important;
    }
    #header .mobile-menu {
        display: none !important;
    }
    .mobile-merch {
        display : none !important;
    }
}
/* end tablet */

/* Mobile and Tablet */

@media (max-width: 63.9375em) {
    .buy-btn {
        padding: 16px 26px !important;
    }
    .contact-form .input-form {
        padding: 14px;
    }
    .social-list {
        font-size: 32px !important;
    }
    #footer .social-list a {
        margin: 0px 8px;
    }

    #footer .license {
        font-size: 24px !important;
        padding: 20px 12px !important; 
    }

    .submit-btn {
        padding: 14px 36px !important;
    }
    .contact-info {
        line-height: 1.8 !important;
    }
}


/* Mobile */
@media (max-width: 46.1875em) {

    #header {
        overflow: hidden;
    }
    #nav {
        display: block;
    }

    #nav li:first-child {
        display: inline-block;
    }
    
    .s-mt-8 {
        margin-top: 8px !important;
    }

    .s-full-width {
        width: 100% !important;    
    }

    #nav > li {
        display: block;
    } 
     
    #header .search-btn {
        display: none;
    }

    .text-content {
        display: none !important;
    }

    .member-img {
        width: 70% !important;
    }

    .col-third {
        width: 100% !important;
    }
    
    .mobile-margin {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
    }

    .col-half {
        width: 100% !important;
    }

    .contact-form {
        margin-top: 16px;
    }
    .contact-info {
        padding-bottom: 16px;
    }
    .mobile-more {
        display : none !important;
    }

    .contact-form .submit-btn {
        font-size: 18px;
    }
} 